.category-products{
    position: relative;
    -webkit-backface-visibility: hidden;
}
.category-products.fake{
    position: relative;
}

.category-products .item.fake{
    display: none;
}
.mrscroll-mask{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.5;
    top: 0;
}
#mr-scroll-more{
    display: block;
    margin: 0 auto;
}
p.mr-scroll-loading{
    font-size:15px;
    line-height:50px;
    position: absolute;
    top: 5%;
    left: 45%;
}
p.mr-scroll-loading span{
    opacity: 0;
}
p.mr-scroll-loading span:first-child{
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    -moz-animation: dot 1.3s infinite;
    -moz-animation-delay: 0.0s;
    -o-animation: dot 1.3s infinite;
    -o-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;

}
p.mr-scroll-loading span{
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    -moz-animation: dot 1.3s infinite;
    -moz-animation-delay: 0.2s;
    -o-animation: dot 1.3s infinite;
    -o-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}
p.mr-scroll-loading span:last-child{
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    -moz-animation: dot 1.3s infinite;
    -moz-animation-delay: 0.3s;
    -o-animation: dot 1.3s infinite;
    -o-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}
@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
